{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-remove-debugger",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
